<div class="center-card">
    <h2>Login</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm">
    <input type="email" name="email" [(ngModel)]="credentials.email" placeholder="Email" #email="ngModel" required email/>
    <div class="error-message" *ngIf="email.invalid && email.touched">
        <small *ngIf="email.errors?.required">Email is required</small>
        <small *ngIf="email.errors?.email">Please enter a valid email address</small>
    </div>
    <input type="password" name="password" [(ngModel)]="credentials.password" placeholder="Password" #password="ngModel" required/>
    <div class="error-message" *ngIf="password.invalid && password.touched">
        <small>Password is required</small>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
    <div class="error-message" *ngIf="loginError">
        {{loginError}}
    </div>
    <p>Don't have an account? <a routerLink="/register">Register here</a></p>
    </form>
</div>