.logo{
    font-family: 'Poppins',sans-serif;
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 5px #000;
}

.logo span{
    font-weight: 600;
    color: #ffdddd;
}

.navbar{
    background-color: #c1efc6;
    color: #cf2a46;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a{
    color: #6b0f1a;
    padding: 0.6rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s ease-in-out;
}
.navbar a:hover{
    color: white;
    border-bottom: 2px solid white;
    text-shadow: 0 0 5px #fff;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links li{
    cursor: pointer;
}


.logout-popup{
    position: fixed;
    top:20%;
    left:50%;
    transform: translateX(-50%);
    background: white;
    border: 2px solid #cf2a46;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.nav-links button{
    background-color: transparent;
    border: 1px solid #6b0f1a;
    padding: 6px 12px;
    border-radius: 8px;
    color: #6b0f1a;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-links button:hover{
    background-color: #6b0f1a;
    color: white;
}

