.logo{
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.navbar{
    background-color: #c1efc6;
    color: #cf2a46;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links li{
    cursor: pointer;
}

.nav-links a{
    text-decoration: none;
    color: #cf2a46;
    font-weight: bold;
    transition: all 0.3s ease;
}

.nav-links a:hover{
    color: white;
    text-decoration: underline;
}

.dropdown-content{
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    list-style: none;
}

.logout-popup{
    position: fixed;
    top:20%;
    left:50%;
    transform: translateX(-50%);
    background: white;
    border: 2px solid #cf2a46;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.nav-links button{
    background: none;
    border: none;
    color: #cf2a46;
    font-weight: bold;
    cursor: pointer;
}

.nav-links button:hover{
    color: white;
    text-decoration: underline;
}