.plane-container{
    position: fixed;
    top:50%;
    left: -100px;
    z-index: 9999;
    pointer-events: none;
}

.plane{
    font-size: 40px;
    animation: flyAcross 3s ease-in-out forwards;
}

@keyframes flyAcross{
    0%{
        transform: translateX(0)rotate(0deg);
    }
    50%{
        transform: translateX(50vw)
        translateY(-30px)rotate(-5deg);
    }
    100%{
        transform: translateX();
    }
}