/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.home-background{
    background-image: url('https://img.freepik.com/free-photo/comic-style-airplane-illustration_23-2151813588.jpg?semt=ais_hybrid&w=740');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

body,html{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    height: 100%;
}
.tabble-wrapper{
    overflow-x: auto;
    max-width: 100%;
}

.center-table-card{
    background-color: rgba(255,255,255,0.8);
    padding: 20px 30px;
    max-width: 90vw;
    overflow-x: auto;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.center-card{
    background-color: rgba(255,255,255,0.8);
    padding: 20px 30px;
    max-width: 700px;
    /* 90vw; */
    overflow-x: auto;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.center-card h2{
    color: #cf2a46;
    margin-bottom: 15px;
}
.center-table-card h2{
    color: #cf2a46;
    margin-bottom: 15px;
}
.center-card p{
    color: #333;
    line-height: 1.6;
    text-align: justify;
}
.center-table-card p{
    color: #333;
    line-height: 1.6;
    text-align: justify;
}

input,select,textarea{
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    background-color: #cf2a46;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
}

button:hover{
    background-color: #a11e35;
}

table{
    width:100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: auto;
}

th,td{
    padding: 8px 12px;
    border: 1px solid #ccc;
    word-break: break-word;
    max-width: 150px;
    text-align: center;
}

th{
    background-color: #c1efc6;
    color: #cf2a46;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #fff0f0;
    min-width: 120px;
    border: 1px solid #6b0f1a;
    z-index: 1;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a{
    color: #6b0f1a;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #ffe6e6;
}
.error-message{
    color: #cf2a46;
}
button:enabled{
    cursor: pointer;
}
button:disabled{
    cursor: not-allowed;
}
.card{
    color: #cf2a46;
    max-height: 80vh; /* limit height to 80% of viewport */
    overflow-y: auto; /* add scroll inside the card  */
    padding: 2rem;
    background-color: rgba(255,255,255,0.95); /*white card*/
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    margin: 2rem auto;
    width: 90%;
    max-width: 700px;
}

.card::-webkit-scrollbar{
    width: 8px;
}

.card::-webkit-scrollbar-thumb{
    background-color: #aaa;
    border-radius: 4px;
}