<div class="center-card">
    <h2>All Bookings</h2>
    <p *ngIf="errorMessage">{{errorMessage}}</p>
    <p *ngIf="bookings.length === 0">No bookings available.</p>
    <div class="table-wrapper">
    <table *ngIf="bookings.length > 0">
        <thead>
            <tr>
                <th>Booking ID</th>
                <th>Flight Number/th>
                <th>User</th>
                <th>Email</th>
                <th>Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let b of bookings">
            <td>{{b.bookingId}}</td>
            <td>{{b.flight.flightNumber}}</td>
            <td>{{b.user.username}}</td>
            <td>{{b.user.email}}</td>
            <td>{{b.bookingDate | date}}</td>
            <td>{{b.status}}</td>
            <td>
                <button (click)="updateBookingStatus(b.bookingId,'Approved')">Approve</button>
                <button (click)="updateBookingStatus(b.bookingId,'Rejected')">Reject</button>
            </td>
            </tr>
        </tbody>
    </table>
</div>
</div>