<div class="center-card">
    <h2>My Booking History</h2>
    <p *ngIf="errorMessage">{{errorMessage}}</p>
    <p *ngIf="bookings.length === 0">No bookings found.</p>
    <ul *ngIf="bookings.length > 0">
    <li *ngFor="let b of bookings" class="booking-card">
        <p><strong>Booking ID:</strong> {{b.bookingId}}</p>
        <p><strong>Flight Number:</strong> {{b.flight?.flightNumber}}</p>
        <p><strong>Date:</strong> {{b.bookingDate | date}}</p>
        <p><strong>Status:</strong> {{b.status}}</p>
        <hr/>
        <div *ngIf="b.status === 'Approved'" class="approved">
            Booking Confirmed for {{userEmail}}
        </div>
        <div *ngIf="b.status === 'Rejected'" class="rejected">
            Booking Rejected for {{userEmail}}
        </div>
        <div *ngIf="b.status !== 'Rejected' && b.status !== 'Approved'" class="pending">
            Booking Pending for {{userEmail}}
        </div>
        <hr/>
    </li>
    </ul>
</div>
<div class="popup-notif" *ngIf="showModal">
    <div class="popup-card">
        <input type="checkbox" id="closeModal" (change)="showModal = false" hidden>
        <label for="closeModal" class="popup-close">x</label>
        <p class="popup-message">{{modalMessage}}</p>
    </div>
</div>