<div class="center-card">
    <h2>Register</h2>
    <form (ngSubmit)="register()" #registerForm="ngForm">
    <input type="text" name="username" [(ngModel)]="user.username" #username="ngModel" id="username" placeholder="Username" required/>
    <div class="error-message" *ngIf="username.invalid && (username.touched || username.dirty)"> 
        <small *ngIf="username?.hasError('required')">Username is required</small>
    </div>
    <input type="email" name="email" [(ngModel)]="user.email" placeholder="Email" #email="ngModel" id="email" required/>
    <div class="error-message" *ngIf="email.invalid && email.touched"> 
        <small *ngIf="email.errors?.required">Email is required</small>
        <small *ngIf="email.errors?.email">Please enter a valid email</small>
    </div>
    <input type="password" name="password" [(ngModel)]="user.password" id="password" #password="ngModel" placeholder="Password" required/>
    <div class="error-message" *ngIf="password.invalid && (password.touched || password.dirty)"> 
        <small *ngIf="password?.hasError('required')">Password is required</small>
        <small *ngIf="passwordPatternError">Password must include at least one uppercase letter, one lowercase letter, one digit, and one special character</small>
    </div>
    <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirm Password" #confirmPasswordField="ngModel" required/>
    <div class="error-message" *ngIf="confirmPasswordField.invalid && confirmPasswordField.touched"> 
        <small>Confirm Password is required</small>
    </div>
    <div class="error-message" *ngIf="passwordMismatch">
        <small>Passwords do not match</small>
    </div>
    <input type="text" name="mobileNumber" [(ngModel)]="user.mobileNumber" placeholder="Mobile Number" id="mobileNumber" #mobileNumber="ngModel" required pattern="^[0-9]{10}$"/>
    <div class="error-message" *ngIf="mobileNumber.invalid && mobileNumber.touched"> 
        <small *ngIf="mobileNumber.errors?.required">Mobile number is required</small>
        <small *ngIf="mobileNumber.errors?.pattern">Mobile number must be 10 digits</small>
    </div>
    <select type="text" name="userRole" [(ngModel)]="user.userRole" placeholder="User Role" id="userRole" #userRole="ngModel" required>
        <option value="" disabled selected>Select Role</option>
        <option value="Admin">Admin</option>
        <option value="Traveller">Traveller</option>
    </select>
    <div class="error-message" *ngIf="userRole.invalid && userRole.touched"> 
      <small> Role is required</small> 
    </div>
    <br><br>
    <button type="submit" [disabled]="registerForm.invalid">Register</button>
    </form>
    <!-- success message -->
    <div *ngIf="showModal" class="modal" (keydown.escape)="closeModal()" autofocus>
        <div class="modal-content">
            <p>Registration Successful!</p>
            <button (click)="goToLogin()">Go to login</button>
        </div>
    </div>
</div> 
<!-- <input type="text" name="username" ngModel #username="ngModel" id="username" required/>
    <div class="error-message" *ngIf="username.invalid && (username.touched || username.dirty)"> 
        <small *ngIf="username?.hasError('required')">Username is required</small>
    </div>
<input type="password" name="password" ngModel id="password" #password="ngModel" required/>
    <div class="error-message" *ngIf="password.invalid && (password.touched || password.dirty)"> 
        <small *ngIf="password?.hasError('required')">Password is required</small>
        <small *ngIf="passwordPatternError">Password must include at least one uppercase letter, one lowercase letter, one digit, and one special character</small>
    </div> -->